/* ==========================================================================
   Blue Theme
   ========================================================================== */

.t-blue {

  .c-navigation,
  .c-header {
    background: #00897b;
  }

  .c-article__main a:not(.c-btn) {
    color: #00897b;
  }

  .c-footer a {
    color: #00897b;
  }
}
